*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 400;
  font-size: 100%;
}

body {
  color: $dark-color;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

*:focus,
*:link,
*:active,
*:hover,
* {
  outline: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
  cursor: pointer;
}
