.title{
  text-align: center;
  padding: 1rem 0;
  font-size: 2.5rem;
}

.parag{
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 2rem;
}

.image{
  width: 700px;
  margin: 2rem 0;
}